*{
    text-decoration: none;
}
.tab-1{
    width: 500px;
    height: 400px;
    background: palevioletred;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.tab-title{
    height: 100px;
    background: palegreen;
    display: flex;
}
.tab-title .tabt{
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    flex-grow: 1;
}
.tab-title .tabt:first-child{
    background: magenta;
}
.tab-title .tabt:nth-child(2){
    background: #40ff56;
}
.tab-title .tabt:nth-child(3){
    background: #4ecda4;
}
.tab-title .tabt:last-child{
    background: #fcff69;
}
.tab-con{
    background: palegoldenrod;
    flex-grow: 1;
    position: relative;
}
.tab-con .tabc{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 60px;
}
.tab-con .tabc:nth-child(1){
    background: magenta;
    z-index: 10;
}
.tab-con .tabc:nth-child(2){
    background: #40ff56;
}
.tab-con .tabc:nth-child(3){
    background: #4ecda4;
}
.tab-con .tabc:nth-child(4){
    background: #fcff69;
}
